body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

header {
    background: #4e7c2b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* BOČNÉ MENU */
.sidebar {
    width: 220px;
    background: #2f4d1f;
    padding-top: 20px;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 12px 20px;
    border-bottom: 1px solid #3a5f2a;
    text-decoration: none;
}

.sidebar a:hover {
    background: #3a5f2a;
}

/* HLAVNÝ OBSAH */
.content {
    flex: 1;
    padding: 20px 30px;
    background: white;
}

.gallery img {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
}

/* ARCHÍV */
.archive-list a {
    text-decoration: none;
    color: #2f4d1f;
}

/* RESPONZIVITA – MOBIL */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}


.sidebar details {
    margin-bottom: 10px;
}

.sidebar summary {
    cursor: pointer;
    padding: 10px;
    background: #3a5f2a;
    color: white;
    border-radius: 4px;
}

.sidebar details ul {
    list-style: none;
    padding-left: 15px;
}

.sidebar details a {
    padding: 6px 10px;
    display: block;
    color: #fff;
    background: #2f4d1f;
    border-bottom: 1px solid #3a5f2a;
}

.sidebar details a:hover {
    background: #476b33;
}
